table {
  min-width: -webkit-fill-available;
}

.header {
  display: flex;
  justify-content: space-around;
  margin: 1rem;
  align-items: center;
}

.client-info {
  display: flex;
  justify-content: space-around;
  border: 0.5px solid #21285dd3;
  color: #21285d;
  border-radius: 5px;
  padding: 1rem;
  gap: 0.5rem;
}

.mat-column-fundName {
  font-weight: 600;
  padding: 24px;
  text-align: center;
}

.mat-column-fundName,
.mat-column-fundMinAmount,
.mat-column-fundCategory,
.mat-column-actions {
  padding: 24px;
  text-align: center;
  color: #21285d;
}

.subscription-button,
.unsubscription-button {
  font-size: x-large;
  text-align: center;
  border: 0.5px solid #21285d;
  cursor: pointer;
  background-color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.subscription-button {
  color: limegreen;
  & :hover {
    color: green;
  }
}
.unsubscription-button {
  color: lightcoral;
  & :hover {
    color: red;
  }
}

::ng-deep .dialog {
  .mat-dialog-container {
    border: 0.5px solid #21285d;
  }
  .mat-dialog-content {
    text-align: -webkit-center;
  }
  .mat-dialog-actions {
    justify-content: flex-end;
  }
}
